@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body{
	background-color: #fdfeff;
}
.navbar-laravel{
	box-shadow:0 2px 2px rgba(0,0,0,.02)
}
/* .card-body{
    background-color: white;
} */
.py-4{
	background-color: #fdfeff;
}
#app .navbar .container {
	margin-right: 0;
}
.navbar-collapse ul {
	float: right;
	padding:0;
}
@media (max-width: 768px) {
	label{
		text-align: right;
	}
	
}
@media (min-width: 1200px) {
	.login{
		width: 500px;
	}
	.register{
		width: 500px;
	}
}
.search-things {
	text-align: center;
	padding-top: 160px;
}
.search-things img {
	width: 170px;
}
.search-btns {
	background-color: #448AFF;
	width: 180px;
	color: white;
}
.search-input {
	margin: auto;
}            
.login-img{
    width: 65%;
    margin: auto;
    margin-top: 100px;
}
.login-pic{
    display: none;
}
.login-form{
    padding-top: 30px;
}
@media (min-width: 992px){
    .login-pic{
        display: block;
    }
}
.login-card{
    background-color: #fdfeff;
    margin: auto;
    margin-top: 100px;
	border-radius: 10px;
	padding: 15px;
	width: 90%;
	box-shadow:0 2px 2px 2px rgba(0,0,0,.06);
}