@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body{
	background-color: #fdfeff;
}
.navbar-laravel{
	box-shadow:0 2px 2px rgba(0,0,0,.02)
}
.navbar {
	background-color: white;
}
/* .card-body{
    background-color: white;
} */
.py-4{
	background-color: #fdfeff;
}
#app .navbar .container {
	margin-right: 0;
}
.navbar-collapse ul {
	float: right;
	padding:0;
}
@media (max-width: 768px) {
	label{
		text-align: right;
	}
	
}
@media (min-width: 1200px) {
	.login{
		width: 500px;
	}
}
.search-things {
	text-align: center;
	padding-top: 140px;
}
.search-things img {
	width: 170px;
}
.search-btns {
	background-color: #448AFF;
	width: 180px;
	color: white;
	margin-top: 15px;
}
.search-input {
	margin: auto;
}            
.login-img{
    width: 65%;
    margin: auto;
	margin-top: 100px;
	float: right;
}
.tour-img{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
}
.login-pic{
    display: none;
}
.login-form{
    padding-top: 30px;
}
@media (min-width: 992px){
    .login-pic{
        display: block;
    }
}
.login-card{
    background-color: #fdfeff;
    margin: auto;
    margin-top: 100px;
	border-radius: 10px;
	padding: 15px;
	width: 90%;
	box-shadow:0 2px 2px 2px rgba(0,0,0,.06);
}
.tour-card{
	background-color: #ebf6ff;
    margin: auto;
    margin-top: 100px;
	padding: 15px;
	width: 90%;
	box-shadow:0 2px 2px 2px rgba(0,0,0,.06);
}
.tour-card-content{
	background-color: #fdfeff;
    margin: auto;
	margin-top: -50px;
	text-align: right;
	padding: 15px;
	width: 60%;
	box-shadow:0 2px 2px 2px rgba(0,0,0,.06);
}
.reg-now {
	background-color: #2a5477;
	margin: auto;
	display: block;
}
.about-title {
	text-align: center;
	padding: 30px;
	margin-bottom: 0;
}
.about-content {
	text-align: right;
	padding: 20px;
	padding-top: 0;
	line-height: 40px;
	font-size: 16px;
	width: 90%;
	margin: auto;
}
.team-title{
	text-align: center;
	padding: 30px;
}
.team-img {
	width: 200px;
	border-radius: 100%;
}
hr{
	width: 75%;
}
.member-name{
	text-align: center;
	color: #858587;
}
.team-member{
	padding: 30px;
}
.scroll-down {
	opacity: 1;
	-webkit-transition: all .5s ease-in 3s;
	transition: all .5s ease-in 3s;
  }
  .scroll-down {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -16px;
	display: block;
	width: 32px;
	height: 32px;
	border: 2px solid pink;
	background-size: 14px auto;
	border-radius: 50%;
	z-index: 2;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	transform: scale(1)
  }
  .scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}  
#mybtn {
	position: fixed;
	bottom: 20px;
	margin: auto;
	left: 0;
	right: 0;
}
.about-sec {
	height: 100vh;
}
.arrow-down {
	text-align: center;
}
.arrow-btn {
	border-radius: 100%;
	background-color: #ebf6ff;
}