/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */

.tr-highlight {
    background: #EEE;
}
@font-face {
    font-family: "IRANSans";
  
     src: url(../fonts/IRANSans-light-web.ttf); 
      /*src: url(../fonts/IRANSans-Medium-web.eot?#iefix) format("embedded-opentype"), url(../fonts/IRANSans-Medium-web.woff)
      format("woff"), url(../fonts/IRANSans-Medium-web.ttf) format("truetype"), url(../fonts/IRANSans-Medium-web.svg#woff2) format("woff2"); */
  }
  *{
    font-family: "IRANSans";
  }
body {
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
th , td{
    text-align: center;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/* navbar */
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
/* end navbar */
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.create-form{
    margin-left:15px;
    margin-right:15px;
}
.check-form{
    width: 80%;
}
.save-btn{
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.sub-panel-title{
    color: #fff !important;
    background-color: #2b5477 !important;
    border-color: #ddd;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sub-panel-add{
    margin-top: -5px;
    float: left;
    border-radius: 16px;
    background-color: #2b5477;
    color: #fff;
    border-color: #fff;
    line-height: 16px;
    padding-top: 10px;
}
.sub-panel-add:hover{
    border-radius: 8px;
    background-color: #fff;
    color: #000;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2a5477;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
#sidebar.active ul li ul {
    padding-right: 1px;
}
#sidebar.active ul li a{
    margin-bottom: 5px;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    /* padding: 20px 10px; */
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2a5477;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: right;
}
#sidebar ul li a:hover {
    color: #2a5477;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #37709e;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
/* a[aria-expanded="true"]::before {
    content: '\e260';
} */


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #37709e;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #2a5477;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.table{
    width: 85%;
    margin: auto;
}
.add-on .input-group-btn > .btn {
    border-left-width:0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  /* stop the glowing blue shadow */
  .add-on .form-control:focus {
   box-shadow:none;
   -webkit-box-shadow:none; 
   border-color:#cccccc; 
  }
  .form-control{width:20%}
  .navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .exit{
    border-right: 1px solid #ddd;
  }
  .navbar-nav:last-child{ border-right:0}
  .pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #37709e;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
.card{
    width:60%;
    margin: auto;
    /* background-color: rgb(245, 245, 245); */
    height: 400px;
}
.card .form-group {
    margin-right: 20px;
}

.row input{
    width: 93%;
}
.row .new-meet{
    width: 100px;
    margin-right: 30px;
}
.row .first{
    margin-top: 50px;
}
.test-in{
    margin-top: 10px;
    margin-bottom: 10px;
}
.card .save{
    background-color: #2a5477;
    color: white;
    margin-bottom: 20px;
    float: left;
    margin-left: 20px;
}
footer{
    background-color: #2a5477;
    color: white;
}
h2, h3, h4{
    text-align: center;
    padding-top: 10px;
}
.page-header{
    background-color: #f1f1f1;
}
.myform{
    background-color:rgb(245, 245, 245);
    height: 520px;
}
#sidebar ul li a i{
    margin-left: 5px;
}
.panel-default{
    border-color: white;
    border-radius: 10px;
    padding-bottom: 25px;
}
.error-span {
    position: sticky;
    width: 100%;
    text-align: right;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}
.add{
    background-color: #37709e;
    color: whitesmoke;
}
.col-sm-2{
    float:right;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media(max-width: 400px){
}
@media (max-width: 768px) {
    .navbar-collapse.collapse{
        display: block;
    }
    .navbar-collapse .nav #login-name{
        display: none;
    }
    .exit{
        border-right: 0;
    }
    #sidebar {
        min-width: 0px;
        max-width: 0px;
        /* text-align: center; */
        /* margin-left: -80px !important ; */
    }
    .create-card{
        width:100%;
        margin: auto;
    }
    .col-sm-2{
        float:right;
    }
    .card{
        height: 550px;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active  {
        margin-left: 0 !important;
    }
    #sidebar.active ul li a {
        visibility: visible;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header{
        padding: 0px;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 0px 0px;
        visibility: hidden;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 0px !important;
    }

    #sidebar ul li a i {
        font-size: 0em;
    }
    #sidebar {
        margin-left: 0;
    }
    .table{
        width: 100%;
    }
    table, thead, tbody, th, td, tr { 
        display: block; 
        text-align: right;
    }
    thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
       overflow: scroll;
   }
   
   td { 
       /* Behave  like a "row" */
       border: none;
       border-bottom: 1px solid #eee; 
       position: relative;
       padding-left: 50%; 
       text-align: left
   }
   
   td:before { 
       /* Now like a table header */
       position: absolute;
       /* Top/left values mimic padding */
       top: 6px;
       left: 130px;
       width: 45%; 
       padding-right: 10px; 
       white-space: nowrap;
   }
   th{
    text-align: left;
    }
    tbody tr td:before{
        text-align: right;
        color:grey;
    }
    .tbody{
        width: 100%;
    }
    .dep-td td:nth-of-type(1):before { content: " ردیف";}
    .dep-td td:nth-of-type(2):before { content: " عنوان";}
    .dep-td td:nth-of-type(3):before { content: " بیمارستان";}
    .dep-td td:nth-of-type(4):before { content: " وضعیت";}
    .dep-td td:nth-of-type(5):before { content: " عملیات";}

    .rep-td td:nth-of-type(1):before { content: " ردیف";}
    .rep-td td:nth-of-type(2):before { content: " عنوان";}
    .rep-td td:nth-of-type(3):before { content: " تعداد فیلد ها";}
    .rep-td td:nth-of-type(4):before { content: " وضعیت";}
    .rep-td td:nth-of-type(5):before { content: " عملیات";}

    .hospital-td td:nth-of-type(1):before { content: " ردیف";}
    .hospital-td td:nth-of-type(2):before { content: " عنوان";}
    .hospital-td td:nth-of-type(3):before { content: " آدرس";}
    .hospital-td td:nth-of-type(4):before { content: " شماره تماس";}
    .hospital-td td:nth-of-type(5):before { content: " موبایل";}
    .hospital-td td:nth-of-type(6):before { content: " وضعیت";}
    .hospital-td td:nth-of-type(7):before { content: " عملیات";}

    .user-td td:nth-of-type(1):before { content: " ردیف";}
    .user-td td:nth-of-type(2):before { content: " نام کاربری";}
    .user-td td:nth-of-type(3):before { content: " گروه کاربری";}
    .user-td td:nth-of-type(4):before { content: " نام";}
    .user-td td:nth-of-type(5):before { content: " نام خانوادگی";}
    .user-td td:nth-of-type(6):before { content: " وضعیت";}
    .user-td td:nth-of-type(7):before { content: " عملیات";}
}
/* @media(min-width:) */
@media (min-width: 768px){
    .create-card{
        width:100%;
        margin: auto;
    }
    .navbar-form .input-group .input-group-btn{
        width: 8px;
    }
    .navbar-form .input-group{
        width: 80%;
    }
}
.accent-color { 
    background: #448AFF !important; 
    color: white;
}
.closebtn {
    margin-left: 15px;
    color: rgb(92, 90, 90);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.closebtn:hover {
    color: black;
}
.create-card{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.input-group-addon:first-child{
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-right:1px solid #ccc;
    border-left: 0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
.input-group .form-control:last-child{
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.panel-default>.panel-heading{
    color: #f3ebeb;
    background-color: #527796;
    border-color: #ddd;
}
.label-col{
    float: right;
}
.search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
   .search-container button:hover {
    background: #ccc;
  }
  .search-container {
    float: right;
  }
  
  .search-container form input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  #sidebar.active ul li a span{
    display: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: white;
}
.exit-col , .collapse-col{
    width: 50%;
}
.exit-col{
    float: left;
}
.container {
    margin: 0;
    padding: 0;
    width: 100%;
}
.filter-panel {
    margin: auto;
    padding: 0;
    width: 90%;
}